:root {
    /* colors normal */
    --dark: #001717;
    --light: #fff;
    --primary: #ff4500;
    --secondary: #48BDFA;
    --accent: #48FAD7;
     /* colors grey */
    --grey-one: #f6f4f4 ;
    --grey-two: #ededed ;
    --grey-three: #e1e1e1 ;

    /* Typographs */
    h1 , h2 , h3 , h4 , a ,p {
        font-family: Arial, Helvetica, sans-serif;
    }

    .container{
        margin: 0 auto;
        max-width: 1132px;
        padding: 0em 1em;
    }
}